<nav class="d-flex flex-column bg-dark text-white p-3" style="width: 260px; min-height: 100vh;">
    <a class="text-white text-decoration-none mb-4" href="/">
        <h5 class="mb-0"><i class="bi bi-database-gear me-2"></i>PontoScripts</h5>
    </a>
    <hr class="text-secondary" />
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door me-2"></i>Dashboard
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link text-white" href="globalizacao">
                <i class="bi bi-translate me-2"></i>Globalização
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link text-white" href="scripts">
                <i class="bi bi-file-earmark-code me-2"></i>Scripts
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link text-white" href="versoes">
                <i class="bi bi-tags me-2"></i>Versões
            </NavLink>
        </li>
    </ul>
    <hr class="text-secondary" />
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <NavLink class="nav-link text-white" href="ajuda">
                <i class="bi bi-question-circle me-2"></i>Ajuda
            </NavLink>
        </li>
    </ul>
</nav>
